%h1
  Welcome to Platforms 2011
  
  
%h2 You are able to ...

%ul
  %li
    register as a user
  %li
    recover your password
  %li
    unlock your account if you misstyped your password to many times
  %li
    edit your registration data
  %li
    sign in via facebook and twitter auth (others are easily added ...)
  %li
    create an account via facebook and twitter auth

%h2 What else ...

%ul
  %li
    automatic session expiration after 15 minutes
  %li
    if "remember me" is choosen you're logged out after 2 weeks
  %li
    lock accounts after 20 login failures
  %li
    integration tests: see cucumber features (.feature files)

%h3 Notice!

%ul
  %li
    %strong
      TWITTER AUTH CURRENTLY DOESN'T WORK DUE TO TWITTER PROBLEMS!!
  %li
    %strong
      third party auth providers are just a showcase. later we should restrict this with some kind of internal keys
  %li
    %strong
      NOT TESTED WITH INTERNET EXPLORER!!