%h1
  Welcome to CaP - Conferences and Participants


.categories
  %h2
    Categories

  M8 - List of categories

.conferences
  %h2
    Conferences
  M9 - List of conferences

.conferences.running
  %h2
    Running conferences
  S10 - List of currently running conferences

.conferences.upcoming
  %h2
    Conferences starting tomorrow
  m11 - List of upcoming conferences tomorrow

.conferences.upcoming
  %h2
    Conferences starting next week
  m11 - List of upcoming conferences next week

